<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
     <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/bootstrap.min.css" />
    </head>
    <body>
        <form method="POST" action="/scadastrar">
            <div>
                <label for="nome">Nome</label>
                <input type="text" class="form-control" name="nome" placeholder="Nome" />
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" placeholder="Email" />
            </div>
            <div>
                <label for="login">Login</label>
                <input type="text" class="form-control" name="login" placeholder="Login" />
            </div>
            <div>
                <label for="senha">Senha</label>
                <input type="password" class="form-control" name="senha" placeholder="Senha" />
            </div>
            <div>
                <label for="senha">IdNacional</label>
                <input type="number" class="form-control" name="idNacional" placeholder="Senha" />
            </div>
            <div>
                <label for="descricao">Descricao</label>
                <input type="text" class="form-control" name="descricao" placeholder="Descricao" />
            </div>
            <div>
                <label for="profissao">Profissão</label>
                <input type="text" class="form-control" name="profissao" placeholder="Profissão" /> 
            </div>
            <div>
                <label for="senha">Longitude</label>
                <input type="number" class="form-control" name="longitude" placeholder="Senha" />
            </div>
            <div>
                <label for="senha">latitude</label>
                <input type="number" class="form-control" name="latitude" placeholder="Senha" />
            </div>
            <div>
                <label for="senha">pontuacao</label>
                <input type="number" name="pontuacao" placeholder="Senha" />
            </div>
            <button type="submit">Enviar</button>
        </form>
    </body>
</html>
