<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>FindYourPro</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="css/bootstrap.min.css" />
    </head>
    <body>
       <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">FindYourPro</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/profissionais">Profissionais</a></li>
                    <li><a href="/ranking">Ranking</a></li>
                    <li><a href="/cadastro">Cadasto</a></li>
                </ul>
            </div>
        </nav>
        <h1 class="text-center">Cadastrar Profissional</h1>
        <br />
        <br />
        <div class="col-md-4 col-md-offset-4">
            <form method="POST" action="/cadastrar">
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" name="nome" placeholder="Nome" />
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" placeholder="Email" />
                </div>
                <div class="form-group">
                    <label for="login">Login</label>
                    <input type="text" class="form-control" name="login" placeholder="Login" />
                </div>
                <div class="form-group">
                    <label for="senha">Senha</label>
                    <input type="password" class="form-control" name="senha" placeholder="Senha" />
                </div>
                <div class="form-group">
                    <label for="descricao">Descricao</label>
                    <input type="text" class="form-control" name="descricao" placeholder="Descricao" />
                </div>
                <div class="form-group">
                    <label for="profissao">Profissão</label>
                    <input type="text" class="form-control" name="profissao" placeholder="Profissão" /> 
                </div>
                <button type="submit" class="btn btn-primary col-md-12">Enviar</button>
            </form>
        </div>
    </body>
</html>
