<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>FindYourPro</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/bootstrap.min.css" />
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">FindYourPro</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/profissionais">Profissionais</a></li>
                    <li><a href="/ranking">Ranking</a></li>
                    <li><a href="/cadastro">Cadasto</a></li>
                </ul>
            </div>
        </nav>
        <h1 class="text-center">Lista de Profissionais</h1>
        <br />
        <br />
        <div class="container col-md-8 col-md-offset-2">
            <table class="table table-striped">
                <thead style="background: #000000; color: #FFFFFF">
                    <tr>
                        <th>Profissão</th>
                        <th>Nome</th>
                        <th>Perfil</th>
                        <th>Localização</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="profissional : ${profissionais}">
                        <td><span th:text="${profissional.profissao}"></span></td>
                        <td><span th:text="${profissional.nome}"></span></td>
                        <td><a class="btn btn-info" href="profissional/${profissional.login}">Ver Perfil</a></td>
                        <td><a class="btn btn-info" href="#">Ver no Mapa</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
