<!DOCTYPE html>


<html>
    <head>
        <meta charset="utf-8" />
        <title>Find Your Pro</title>
        <meta name="keywords" content="HTML5 Template" />
        <meta name="description" content="Find Your Pro" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="shortcut icon" type="image/png" href="img/favicon.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Web Fonts  -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800" rel="stylesheet" type="text/css" />
        <link href="http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,700,800,900" rel="stylesheet" type="text/css" />

        <!-- Libs projeto anterios -->
        <link href="css/bootstrap.min.css" rel="stylesheet" />
        <link href="css/font-awesome.min.css" rel="stylesheet" />
        <link href="css/animate.min.css" rel="stylesheet" />
        <link href="css/prettyPhoto.css" rel="stylesheet" />
        <link href="css/main.css" rel="stylesheet" />
        <link href="css/responsive.css" rel="stylesheet" />
        <!--[if lt IE 9]>
            <script src="js/html5shiv.js"></script>
            <script src="js/respond.min.js"></script>
            <![endif]-->
        <link rel="shortcut icon" href="images/ico/favicon.ico" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/ico/apple-touch-icon-144-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/ico/apple-touch-icon-114-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/ico/apple-touch-icon-72-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" href="img/ico/apple-touch-icon-57-precomposed.png" />


        <style>
            html, body {
                height: 100%;
                margin: 0 0 0 0;
                padding: 0 0 0 0;
            }

        </style>

        <link href="css/metisMenu.min.css" rel="stylesheet" />

        <!-- Custom CSS -->
        <link href="css/sb-admin-2.css" rel="stylesheet" />

        <!-- Morris Charts CSS -->
        <link href=".css/morris.css" rel="stylesheet" />



        <!-- Libs CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet" />
        <link href="css/style.css" rel="stylesheet" />
        <link href="css/font-awesome.min.css" rel="stylesheet" />
        <link href="css/v-nav-menu.css" rel="stylesheet" />
        <link href="css/v-animation.css" rel="stylesheet" />
        <link href="css/v-bg-stylish.css" rel="stylesheet" />
        <link href="css/v-shortcodes.css" rel="stylesheet" />
        <link href="css/theme-responsive.css" rel="stylesheet" />
        <link href="plugins/owl-carousel/owl.theme.css" rel="stylesheet" />
        <link href="plugins/owl-carousel/owl.carousel.css" rel="stylesheet" />

        <!-- Current Page CSS -->
        <link href="plugins/rs-plugin/css/settings.css" rel="stylesheet" />
        <link href="plugins/rs-plugin/css/custom-captions.css" rel="stylesheet" />

        <!-- Custom CSS -->
        <link rel="stylesheet" href="css/custom.css" />

    </head>
    <body class="no-page-top">
        <!--Header-->
        <header class="header" data-bg-color="rgba(9, 103, 139, 0.36)" data-font-color="#fff">
            <div class="container">

                <!--Site Logo-->
                <div class="logo" data-sticky-logo="img/logoMenor.png" data-normal-logo="img/logo.png">
                    <a href="mapa.html">
                        <img alt="Find Your Pro" src="img/logo-black.png" data-logo-height="65" />
                    </a>
                </div>
                <!--End Site Logo-->
                <div th:if="${usuarioLogado == null}">
                    <nav class="collapse navbar-collapse navbar-right">
                        <ul class="nav nav-pills nav-main" id="mainMenu">

                            <li>
                                <a href="/cadastro"><i class="navbar-form navbar-left"></i>Registre-se</a>
                            </li>
                            <li>
                                <form class="navbar-form navbar-left" style="padding-top: 15px" action="/logon" method="post">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Login" name="login" />
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" name="senha" placeholder="Senha" />
                                    </div>
                                    <button type="submit" class="btn btn-default">Entrar</button>
                                </form>
                            </li>                
                        </ul>
                    </nav>
                </div>
                <div th:if="${usuarioLogado != null}" class="collapse navbar-collapse navbar-right">
                    <ul class="nav nav-pills nav-main" id="mainMenu">
                        <li class="text-center">
                            <p id="bemvindo">Bem vindo, <span th:if="${usuarioLogado != null}" th:text="${usuarioLogado.getNome()}"></span></p>
                        </li>
                        <li>
                            <form class="navbar-form navbar-left" style="padding-top: 15px" action="/logout" method="get">
                                <button type="submit" class="btn btn-default">Sair</button>
                            </form>
                        </li>                
                    </ul>
                </div>
            </div>
        </header>
        <!--Set your own background color to the header-->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">

                    <li>
                        <a href="/mapa"><i class="fa fa-tasks  fa-fw" ></i> Inicio</a>
                    </li>
                    <li>
                        <a href="/profissionais"><i class="fa fa-briefcase fa-fw"></i> Listar Profissionais</a>
                    </li>
                    <li>
                        <a href="/ranking"><i class="fa  fa-thumbs-o-up fa-fw"></i> Ranking de Profissionais</a>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-gear fa-fw"></i> Configuração</a>
                    </li>



                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>

        <div class="panel-body" id="filtroProf" style="margin:  20px 20px  0 250px;">

            <div class="col-sm-2">
                <select class="form-control" id="ddlTipoProcura">                
                    <option>Nome</option>
                    <option>Eletricista</option>
                    <option>Técnico em Informática</option> 
                    <option>Marceneiro</option>
                    <option>Encanador</option>     
                </select>
            </div>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="txtPesquisa" placeholder="Procurar Profissionais" />
            </div>
            <div class="col-sm-1">
                <button id="btnProcurar" type="submit" class="btn btn-default">Buscar</button>
            </div>
        </div>
        <div th:id="map">
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <script th:inline="javascript">
            /*<![CDATA[*/

            function initMap() {
                var map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: -5.8296597, lng: -35.2237983},
                    zoom: 6
                });
                var infoWindow = new google.maps.InfoWindow({map: map});
                var locations = /*[[${pontos}]]*/;
                        console.log(locations[0][1]);

                for (i = 0; i < locations.length; i++) {
                    console.log("entrou");
                    console.log(parseFloat(locations[i][1]));
                    console.log(parseFloat(locations[i][2]));

                    marker = new google.maps.Marker({
                        position: new google.maps.LatLng(parseFloat(locations[i][1]), parseFloat(locations[i][2])),
                        title: locations[0],
                        map: map,
                        url: locations[3]
                    });

                    google.maps.event.addListener(marker, 'click', function () {
                        window.location.href = this.url;
                    });

                }


                // Try HTML5 geolocation.
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        var pos = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };
                        infoWindow.setPosition(pos);
                        infoWindow.setContent('Location found.');
                        map.setCenter(pos);
                    }, function () {
                        handleLocationError(true, infoWindow, map.getCenter());
                    });
                } else {
                    // Browser doesn't support Geolocation
                    handleLocationError(false, infoWindow, map.getCenter());
                }

                /*]]>*/
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLRQ_xNODsjWa7Fqzy7SRI2FO4HIkXn7E&amp;signed_in=true&amp;callback=initMap" defer="defer">
        </script>
    </body>
</html>